# Ignore node_modules directory
node_modules/

# Ignore package-lock.json file
package-lock.json

# Ignore npm debug log files
npm-debug.log*

# Ignore yarn error log files
yarn-error.log

# Ignore IDE settings files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

# Ignore other unnecessary files
*.tmp
*.bak
*.old