# Ignore IDE settings files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

# Ignore other unnecessary files
*.tmp
*.bak
*.old

# Node.js dependencies
node_modules/

# PM2 logs
pm2.log

# OS files
.DS_Store
Thumbs.db